body {
  overflow: hidden;
  background-color: rgb(230, 233, 242);
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(17, 17, 17);
  font-family: "Caveat", cursive;
  font-size: 60px;
}

.container {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  display: flex;
  background: rgb(255, 255, 255);
  border: solid 2px rgb(17, 17, 17);
  border-radius: 4px;
  width: 100%;
  width: 400px;
  height: 400px;
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-auto-columns: minmax(1fr, auto); */
  width: 100%;
  width: 400px;
  height: 400px;
  flex: 1;
}

.grid-element {
  user-select: none;
}

.grid div {
  border: solid 0.1px;
  border-color: rgb(203, 203, 203);
}
.grid div:hover {
  background-color: rgb(212, 209, 209);
}

#buttons {
  display: flex;
  justify-content: center;
}

#colorPicker {
  margin: 1rem 0.3rem;
  border: solid 1px rgb(187, 187, 187);
  border-radius: 2px;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

button {
  margin: 1.5rem 0.2rem;
  border: solid 1px rgb(187, 187, 187);
  border-radius: 4px;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

#buttons {
  display: flex;
  align-items: center;
}

#colorBtn {
  background-color: #e6ffd4;
}

#rainbowBtn {
  background-image: linear-gradient(
    to right,
    rgb(139, 13, 230),
    rgb(109, 111, 255),
    rgb(0, 191, 255),
    rgb(0, 255, 234),
    rgb(119, 255, 0),
    rgb(234, 255, 0),
    rgb(255, 204, 0),
    rgb(255, 60, 0)
  );

  border-width: 1px;
}

#eraserBtn {
  background-color: rgb(255, 224, 240);
}

#clearBtn {
  background-color: #ffffff;
}

footer {
  background-color: rgb(214, 217, 225);
  padding: 1.2rem;
}

.deactive {
  background-color: blue;
}

.active {
  background-color: rgb(111, 255, 0);
}
