html,
body {
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
body {
  background-color: rgb(229, 233, 242);
  color: rgb(17, 17, 17);
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  font-family: "Quattrocento Sans", sans-serif;
}

.title {
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(17, 17, 17);
  font-family: "Caveat", cursive;
  font-size: 60px;
}

#grid-size-btns {
  margin-right: 10rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#buttons {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: 10rem;
  padding: 1rem;
  align-items: center;
}
.container {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  display: flex;
  background: rgb(255, 255, 255);
  border: solid 2px rgb(77, 0, 165);
  border-radius: 3px;
  width: 100%;
  width: 450px;
  height: 450px;
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-auto-columns: minmax(1fr, auto); */
  width: 100%;
  width: 450px;
  height: 450px;
  flex: 1;
}

.grid-element {
  user-select: none;
}

.grid div {
  border: solid 1px;
  border-color: rgb(203, 203, 203);
}
.grid div:hover {
  background-color: rgb(212, 209, 209);
}

#colorPicker,
#colorPickerBg {
  margin: 1rem 0.3rem;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 2px;
  border-color: rgb(127, 121, 130);
}

button {
  margin: 0.5rem;
  border: solid 1px rgb(255, 109, 109);
  border-radius: 5px;
  padding: 1rem 1rem;
  cursor: pointer;
  border-color: rgb(127, 121, 130);
}

#rainbowBtn {
  background-image: linear-gradient(
    to right,
    rgb(103, 86, 255),
    rgb(122, 140, 255),
    rgb(89, 210, 250),
    rgb(91, 247, 234),
    rgb(170, 255, 96),
    rgb(242, 255, 104),
    rgb(255, 222, 91),
    rgb(255, 112, 68)
  );
}

#eraserBtn {
  background-color: rgb(255, 233, 244);
}

#clearBtn {
  background-color: #ffffff;
}

#grid-size-btns {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

#grid-size-btns button {
  font-size: 15px;
  padding: 1rem 1rem;
  border-radius: 5px;
  border-color: rgb(77, 0, 165);
}

footer {
  padding: 1.2rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: rgb(77, 0, 165);
  color: white;
}
