body {
  background-color: rgb(229, 233, 242);
  color: rgb(17, 17, 17);
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
  font-family: "Quattrocento Sans", sans-serif;
}

.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(17, 17, 17);
  font-family: "Caveat", cursive;
  font-size: 55px;
}

.container {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  background: rgb(255, 255, 255);
  border: solid 2px rgb(102, 0, 165);
  border-radius: 3px;
  width: 100%;
  width: 450px;
  height: 450px;
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-auto-columns: minmax(1fr, auto); */
  width: 100%;
  width: 450px;
  height: 450px;
  flex: 1;
}

.grid-element {
  user-select: none;
}

.grid div {
  border: solid 1px;
  border-color: rgb(203, 203, 203);
}
.grid div:hover {
  background-color: rgb(212, 209, 209);
}

#buttons {
  display: flex;
  justify-content: center;
}

#colorPicker,
#colorPickerBg {
  margin: 1rem 0.3rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 2px;
  border-color: rgb(127, 121, 130);
}

button {
  margin: 1.5rem 0.2rem;
  border: solid 1px rgb(187, 187, 187);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-color: rgb(127, 121, 130);
}

#buttons {
  display: flex;
  align-items: center;
}

#colorBtn {
  background-color: #e6ffd4;
}

#rainbowBtn {
  background-image: linear-gradient(
    to right,
    rgb(139, 13, 230),
    rgb(109, 111, 255),
    rgb(0, 191, 255),
    rgb(0, 255, 234),
    rgb(119, 255, 0),
    rgb(234, 255, 0),
    rgb(255, 204, 0),
    rgb(255, 60, 0)
  );
}

#eraserBtn {
  background-color: rgb(255, 233, 244);
}

#clearBtn {
  background-color: #ffffff;
}

#grid-size-btns {
  margin-bottom: 1rem;
}

#grid-size-btns button {
  padding: 0.7rem 1rem;
  border-radius: 5px;
  border-color: rgb(102, 0, 165);
}

footer {
  background-color: rgb(229, 233, 242);
  padding: 1.2rem;
  margin-top: 4rem;
}

.deactive {
  background-color: blue;
}

.active {
  background-color: rgb(111, 255, 0);
}
